<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>TiledMap</string>
	<key>ordering</key>
	<integer>4000</integer>
	<key>description</key>
	<string>Preview a Tiled Map</string>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<true/>
	<key>className</key>
	<string>CCTiledMap</string>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCTiledMap</string>
			<key>name</key>
			<string>CCTiledMap</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>anchorPoint</string>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>TMX File</string>
			<key>type</key>
			<string>TMXFile</string>
			<key>name</key>
			<string>tmxFile</string>
		</dict>
	</array>
	<key>editorClassName</key>
	<string>CCBPTiledMap</string>
	<key>propertiesOverridden</key>
	<array/>
</dict>
</plist>
